<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Редактировать группу</title>
</head>
<body>
<h1>Редактировать группу</h1>
<form th:action="@{/groups/edit/{id}(id=${group.id})}" method="post" th:object="${group}">
  <label>Название:</label>
  <input type="text" th:field="*{name}" /><br/>
  <label>Telegram ID:</label>
  <input type="text" th:field="*{telegramId}" /><br/>
  <button type="submit">Сохранить</button>
</form>
<a href="/templates/groupstes/groups">Назад к списку групп</a>
</body>
</html>
